/* Write your CSS here */
.similar-list-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 34px;
  margin-right: 34px;
}
.similar-img {
  width: 300px;
  border-radius: 20px;
}
.item-name {
  color: #171f46;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.item-by {
  color: #616e7c;
  font-size: 21px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 40px;
}
.rating-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  color: #12022f;
  font-size: 24px;
  font-weight: 700;
}
.product-rating-box {
  background-color: #3b82f6;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}
.item-rating {
  color: #ffffff;
  font-size: 18px;
  margin: 5px;
}
.stars-img {
  width: 24px;
  height: 24px;
}
