/* Write your CSS here */
.suggestion {
  color: #475569;
  font-size: 14px;
}
.suggestion-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  width: 25px;
  height: 25px;
}
.btn {
  border-width: 0px;
  background-color: transparent;
}
