/* Write your CSS here */

/* Write your CSS here */
.planets-slider-bg {
  padding-top: 40px;
  padding: 80px;
  min-height: 100vh;

  font-family: 'roboto';
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
}
.planets-heading {
  text-align: center;
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .planets-heading {
    margin-bottom: 30px;
    font-size: 44px;
  }
  .planets-slider-bg {
    padding: 25px;
  }
}
