/* Write your CSS here */
.coverage-heading {
  color: #94a3b8;
  font-size: 28px;
  font-weight: 500;
}
.coverage-chart-bg {
  width: 100%;
  background-color: #1c1c2b;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 30px;
}
.bar-style {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
