/* Write your code here. */
.list-card {
  list-style: none;
}
.emoji-container {
  width: 188px;
  height: 188px;
  border-radius: 28px;
  border: 3px solid #ffffff30;
  background-color: #ffffff33;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 6px;
  list-style: none;
}
.emoji-image {
  width: 94px;
  height: 94px;
  margin: auto;
}
@media (max-width: 767px) {
  .emoji-container {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin: 5px;
  }
  .emoji-image {
    width: 40px;
    height: 40px;
  }
}
